<div class="angular-dojo dateTimePicker form-inline">
  <div dojo-widget="pentaho/common/DateTextBox"
    ng-model="selectedDate"
    dojo-constraints="datePattern:'yyyy-MM-dd'"
    dojo-props="message:'';rangeMessage:''" />
  <span ng-hide="hideTime" >
    <span class="atText">{{ atLabel }}</span>
 	  <select class="input-small" ng-model="hour" ng-options="hourvalue.id as hourvalue.title for hourvalue in hourvalues"/> :
	  <select class="input-small" ng-model="minute" ng-options="minutevalue.id as minutevalue.title for minutevalue in minutevalues"/>
	  <select class="input-small" ng-model="tod" ng-options="currOption for currOption in ['AM', 'PM']"/>
  </span>
</div>