/* DnD avatar-specific settings */
/* For now it uses a default set of rules. Some other DnD classes can be modified as well. */

.dojoDndItemOver		{background: none}
.dojoDndItemSelected	{background: none}
.dojoDndItemAnchor		{background: none}

.tundra .dojoDndItemBefore {
}

.tundra .dojoDndItemAfter {
}

.tundra .dojoDndItemOver {
}

.tundra table.dojoDndAvatar {
  background: none;
  border: none;
}

.tundra .dojoDndAvatarHeader td {
  height: 0px;
  padding: 0px 0px 0px 0px;
}

.tundra .dojoDndAvatar td{ 
  border: none; 
}

.tundra .dojoDndAvatar tr{
  border: none; 
}

.tundra.dojoDndCopy .dojoDndAvatarHeader {
  background: none;
}

.tundra .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.tundra .dojoDndAvatarItem td { padding: 2px;}
.tundra.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.tundra.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.tundra.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.tundra.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}

.dndAvatar {
  background: #none;
  border: 0px;
}

.tundra .dijitTabInnerDiv {
  padding-left: 3px;
  padding-right: 3px;
}

.tundra .dijitContentPaneLoading {
	background:url('images/loading.gif') no-repeat left center;
	padding-left:25px;
}

.tundra .dijitContentPaneError {
	background:url('images/warning.png') no-repeat left center;
	padding-left:25px;
}

.dijitTooltipBelow {
  /* leave room for arrow above content */
  padding-top: 25px;
}

.dijitTooltipAbove {
  /* leave room for arrow below content */
  padding-bottom: 14px;
}

.dijitTooltipABRight .dijitTooltipConnector {
  /* above or below tooltip, but the arrow appears on the right,
     and the right edges of target and tooltip are aligned rather than the left */
  left: auto !important;
  right: 3px;
}

.dijitTooltipBelow .dijitTooltipConnector {
  /* the arrow piece for tooltips below an element */
  top: 0;
  left: 5px;
  width:36px;
  height:17px;
}

.dj_ie  .dijitTooltipBelow .dijitTooltipConnector {
  /* use gif for IE7 too, due to png rendering problems on fade-in (see http://trac.dojotoolkit.org/ticket/6555) */
}

.dijitTooltipAbove .dijitTooltipConnector {
  /* the arrow piece for tooltips above an element */
  bottom: 0;
  left: 5px;
  width:36px;
  height:17px;
}

.dj_ie  .dijitTooltipAbove .dijitTooltipConnector {
}

.dj_ie6  .dijitTooltipAbove .dijitTooltipConnector {
  bottom: -3px;
}

.dijitTooltipLeft {
  padding-right: 14px;
}

.dijitTooltipLeft .dijitTooltipConnector {
  /* the arrow piece for tooltips to the left of an element, bottom borders aligned */
  right: 0;
  width:17px;
  height:36px;
}

.dj_ie  .dijitTooltipLeft .dijitTooltipConnector {
}

.dijitTooltipRight {
  padding-left: 14px;
}

.dijitTooltipRight .dijitTooltipConnector {
  /* the arrow piece for tooltips to the right of an element, bottom borders aligned */
  left: 0;
  width:17px;
  height:36px;
}

.templatePickerImg {
  width:180px;
  height:218px;
  padding-top: 15px;
}

.fade {
  background-color: lime;
  background:url("images/fade.png") no-repeat center top;
}

.templatePickerImgEmbed {
    height: 109px;
    padding-top: 0;
    width: 90px;
}

.fadeEmbed {
  background:url("images/fadeEmbed.png") no-repeat center top;
}
.pentaho-selection-dialog-inner-embed .fadeEmbed {
  background: transparent;
  color: black;
}

.pentaho-selection-dialog-inner-embed .pentaho-selection-dialog-selected .templatePickerImgEmbed {
  border: 2px solid #6FDB13;
}

.pentaho-selection-dialog-inner-embed .templatePickerImgEmbed {
  background: #F5F5F5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(50%,rgba(241, 241, 241, 1)), color-stop(51%,rgba(225, 225, 225, 1)), color-stop(100%,rgba(246, 246, 246, 1)));
  border: 2px solid #AEAEAE;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 1px 1px white inset;
}

.pentaho-selection-dialog-inner-embed .pentaho-selection-dialog-selected {
  background-color: transparent;
  padding: 0px;
  color: black;
  font-size: 1em;
  cursor: pointer;
}

.pentaho-selection-dialog-selected {
    padding:0px;
    background-color: #444444;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.pentaho-selectlist-container {
    padding-left: 0px;
    padding-top: 3px;
    margin-left: 0px;
    font-size: 1em;
    cursor: pointer;
}

.pentaho-selectlist {
    background-color: white;
    border: 1px solid #888888;
    padding-left: 2px;
}

.pentaho-selectlist-item {
    height: 20px;
    padding-left: 0px;
    padding-top: 3px;
    margin-left: 0px;
    font-size: 1em;
    cursor: pointer;
}

.pentaho-selectlist-item-icon {
    height: 20px;
    padding-left: 22px;
    padding-top: 3px;
    margin-left: 0px;
    font-size: 1em;
    cursor: pointer;
}


.pentaho-selectlist-item-indent {
}

.pentaho-selectlist-item-data {
    background:url("images/data.png") no-repeat left center;    
}

.pentaho-selectlist-item-project {
    background:url("images/folder.png") no-repeat left center;    
}

.pentaho-selectlist-item-transform {
    background:url("images/transform_icon.png") no-repeat left center;    
}

.pentaho-selectlist-item-model {
    background:url("images/model_icon.png") no-repeat left center;    
}

.pentaho-selectlist-item-visualize {
    background:url("images/visualize_icon.png") no-repeat left center;    
}

.pentaho-selectlist-item-wizard {
    background:url("images/wizard.png") no-repeat left center;    
}

.folder-open {
    background: url('images/folder-open.png') no-repeat left top;
    heightx: 20px;
    float: left;
    padding-left: 22px;
    padding-top: 3px;
    margin-left: 0px;
    font-size: 1em;
    cursor: pointer;
}

.folder-closed {
    background: url('images/folder.png') no-repeat left top;
    heightx: 20px;
    padding-left: 22px;
    padding-top: 3px;
    margin-left: 0px;
    font-size: 1em;
    cursor: pointer;
    float: left;
}

.pentaho-selection-dialog-unselected {
    padding:0px;
    border: 0px;
    color: black;
    cursor: pointer;
}

.pentaho-selection-dialog-outer {
  padding:2px 2px 2px 2px;
  border: 1px solid #000000;
  background: rgba(255, 255, 255, 0.5);
}

.pentaho-selection-dialog-inner {

  background: #30363a;
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #30363a), color-stop(1, #575d62));
  /* Firefox */
  background: -moz-linear-gradient(#30363a, #575d62 100%) repeat scroll 0 0 transparent;

}

.pentaho-selection-dialog-inner-embed {

}

.tundra .dijitTabContainerTopStrip {
  background: none;
  border: 0px;
}

.tundra .dojoxColorPicker {
  width: 50px;
  overflow: hidden;
}

.tundra table.dojoDndAvatar {
  background: none;
  border: none;
}

.tundra .dojoDndAvatarHeader td {
  height: 0px;
  padding: 0px 0px 0px 0px;
}

.tundra.dojoDndCopy .dojoDndAvatarHeader {
  background: none;
}

.tundra .dijitTooltipContainer {
  border: 0px;
  padding: 0px;
  background: none;
}

.tundra .dijitToolbar {
}


.tundra .dijitButtonNode {
  border-width: 0px;
}

.tundra .dijitButtonDisabled .tundra .dijitDropDownButtonDisabled .tundra .dijitToggleButtonDisabled .tundra .dijitComboButtonDisabled {
  border-width: 0px;
  background: none;
}

.tundra .dijitSelect {
  border: 1px solid #B5BCC7;
  background-color: white;
}
.tundra .dijitSelect .dijitButtonContents{
  border-right: 1px solid #B5BCC7;
}

.tundra .dijitSelect .dijitArrowButton{
  padding: 4px;
  background: #888;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #AAA),
    color-stop(0.10, #888),
    color-stop(0.50, #3f3f3f),
    color-stop(0.55, #000),
    color-stop(0.90, #121212)
  );
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%);
  border: 1px outset gray;
  cursor: pointer;
  font-size:0px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#888888', endColorstr = '#121212');
  zoom:1;
}

.pentaho-input {
    border: 1px solid #444444;
    background-color: white;
}

.error-large-icon {
  background-image: url("images/error_48.png");
  height: 48px;
  width: 48px;
}
.info-large-icon {
  background-image: url("images/info_48.png");
  height: 48px;
  width: 48px;
}
.warning-large-icon {
  background-image: url("images/warning_48.png");
  height: 48px;
  width: 48px;
}