/* DnD avatar-specific settings */
/* For now it uses a default set of rules. Some other DnD classes can be modified as well. */

.dojoDndItemOver		{background: none}
.dojoDndItemSelected	{background: none}
.dojoDndItemAnchor		{background: none}

.tundra .dojoDndItemBefore {
}

.tundra .dojoDndItemAfter {
}

.tundra .dojoDndItemOver {
}

.tundra table.dojoDndAvatar {
  background: none;
  border: none;
}

.tundra .dojoDndAvatarHeader td {
  height: 0px;
  padding: 0px 0px 0px 0px;
}

.tundra.dojoDndCopy .dojoDndAvatarHeader {
   background: none;
}

.dndAvatar {
  background: #none;
  border: 0px;
}

.tundra .dijitTabInnerDiv {
    padding-left: 3px;
    padding-right: 3px;
}

.tundra .dijitContentPaneLoading {
	background:url('images/loading.gif') no-repeat left center;
	padding-left:25px;
}

.tundra .dijitContentPaneError {
	background:url('images/warning.png') no-repeat left center;
	padding-left:25px;
}
