
.tundra .pentaho-titled-toolbar .dijitArrowNode {
  background-image: url('images/spriteArrows.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 7px;
  width: 7px;
}
.dj_ie6 .tundra .pentaho-titled-toolbar .dijitArrowNode {
  background-image: url('images/spriteArrows.gif');
}

.tundra .pentaho-titled-toolbar.dijitClosed .dijitArrowNode {
  background-position: -14px 0;
}

.tundra .dijitTitlePaneContentOuter {
  background: lightGrey;
  border-top: 0;
}
.tundra .dijitTitlePaneContentInner {
  padding: 3px;
}

.tundra .dijitTitlePaneTextNode {
  margin-left: 4px;
  margin-right: 4px;
}