


.propPanel_gemBar{
  border: 1px solid blue;
  background-color: #FFFFCC;
}
.pentahoPropertiesPanel{
  border: 1px solid #666;
  background-color: #d3d3d3;
}
.pentahoPropertiesPanel .caption{
  height: 1.2em;
  padding: 3px 0px;
}
.pentahoPropertiesPanel .caption-text{
  font-size: 12px;
  font-weight: 600;
}

.pentahoPropertiesPanel>*{
  margin-bottom : 8px;
}
.dijitTitlePaneContentInner>div>*{
  margin: 2px;
}

.gem{
  height: 17px;
  border-radius: 7px;
  padding: 2px 5px;
  margin-bottom: 3px;
  min-width: 120px;
  /*cursor:pointer;*/
}
.gem .gem-label{
  float: left;
  margin-left: 1px;
}

.gem .gemMenuHandle{
  float: right;
  background-image: url('../images/gem_dropDown.png');
  background-position: center right;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  /*cursor:pointer;*/
}

.gem.dojoDndItemOver .gemMenuHandle{
  background-image: url('../images/gem_dropDown_highlighted.png');
}
.gem.dojoDndItemOver .gemMenuHandle.over{
  background-image: url('../images/gem_dropDown_highlighted_over.png');
}

.gem.dojoDndItemOver{
  background-color: rgb(192, 239,172);
}

.pentahoPropertiesPanel .propPanel_gemBar{

  border-radius: 5px;
  /* Firefox */
  -moz-border-radius: 5px;
  /* Safari/Chrome */
  -webkit-border-radius: 5px;
  background-color: white;
  padding: 5px;
  border: none;
}

.pentahoPropertiesPanel .dijitTitlePaneContentInner {
  background-color: #dcdcdc;
}

.pentahoPropertiesPanel .dijitTitlePaneContentInner {
  padding: 4px;
}


.pentahoPropertiesPanel .caption-text {
  font-size: 1em;
  margin-left:8px;
  font-weight: normal;
  float:left;

}

.pentahoPropertiesPanel .captionIcon {
  float:left;
}


/* Migrate to common-ui*/

.tundra .dijitTitlePaneContentInner {
  padding:3px;
}

.gemPlaceholder{
  clear: both;
  text-align: center;
  border: 1px dashed #AAA;
  border-radius: 7px;
  padding: 2px;
  color: #aaa;
}

.gemPlaceholder.over{
  background-color: #FFFFCC;
}
.pentahoPropertiesPanel .propPanel_gemBar{
  position: relative;
}
.pentahoPropertiesPanel .propPanel_gemBar.placeholder{
  padding-bottom: 23px;
}

.indicator{
  background-image: url("../images/dropIndicator.png");
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  height:3px;
  width:100%;
  z-index: 1100;
  padding: 3px;
  height: 2px;
}
.indicator .indicatorLine{
  margin-left:6px;
  background-color: rgb(165, 228, 130);
  width:100%;
  height: 2px;
}