<div class="accordion-group" ng-class="{'accordion-group-active': isOpen}">
  <div class="disabled-accordion-panel" ng-show="isDisabled" ></div>
  <div class="accordion-heading">
    <div class="accordion-title row-fluid" ng-class="{'panel-disabled': isDisabled}">
      <div class="span8">
        <div class="accordion-heading-content" accordion-wizard-transclude="heading">{{heading}}</div>
        <div class="summary-panel">
          <div class="summary-label" ng-hide="isOpen">{{summary}}</div>
        </div>
      </div>
      <div class="span4">
        <a class="accordion-toggle" ng-click="toggleOpen()" ng-hide="isOpen">
          <span class="accordion-toggle-text pull-right">{{editText}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="accordion-collapse" collapse="!isOpen">
    <div class="accordion-inner" ng-transclude></div>
    <div class="accordion-footing">
      <button class="pentaho-button accordion-save-button" ng-disabled="!canSave()" ng-click="saveSettings()">{{saveText}}</button>
      <button class="pentaho-button accordion-cancel-button" ng-click="cancelSettings()">{{cancelText}}</button>
    </div>
  </div>
</div>
