<footer class="elm-footer">
  <div class="elm-footer-custom">
    <div class="elm-nav-container">
      <ol>
        <li class="elm-footer-copyright">
          <a href="https://www.pentaho.com/privacy" rel="external nofollow" target="_blank" class="link-https">Privacy Policy</a>
          <a href="https://www.pentaho.com/legal" rel="external nofollow" target="_blank" class="link-https">Legal Notices</a>
          <a href="https://www.pentaho.com/safe-harbor-privacy-policy" rel="external nofollow" target="_blank"
            class="link-https">Safe Harbor Privacy Policy</a>
          <p>Copyright © 2017 Hitachi Vantara. All Rights Reserved.</p>
        </li>
        <li class="elm-footer-social-media">
          <a title="Twitter" href="https://twitter.com/pentaho" rel="external nofollow" target="_blank" class="mt-icon-twitter3 link-https"></a>
          <a title="Facebook" href="https://facebook.com/Pentaho" rel="external nofollow" target="_blank" class="mt-icon-facebook3 link-https"></a>
          <a title="Linkedin" href="http://www.linkedin.com/company/pentaho" rel="external nofollow" target="_blank"
            class="mt-icon-linkedin3 external"></a>
          <a title="Blog" href="http://www.pentaho.com/blog" rel="external nofollow" target="_blank" class="mt-icon-feed4 external"></a>
        </li>
      </ol>
    </div>
</footer>