<?xml version="1.0" encoding="UTF-8"?>

<plugin title="Pentaho Commons UI">
   <static-paths>
     <!-- this translates to /pentaho/content/commons-ui/resources/* -->
     <static-path url="/commons-ui/resources" localFolder="resources"/>
   </static-paths>

   <webservice
    id="metadataService"
    type="xml,gwt"
    class="org.pentaho.platform.dataaccess.metadata.service.MetadataService"/>

    <content-generator scope="session" id="reposvc" type="reposvc">
        <classname>com.pentaho.jimmylabs.solution.SolutionUrlContentGenerator</classname>
        <title>RepositoryService</title>
    </content-generator>

  <webservice  
    id="RepositoryClientService" 
    type="xml" 
    class="com.pentaho.jimmylabs.solution.SolutionRepoService"/>

</plugin>
