
.pentaho-visual-models-area-stacked.component-icon-landscape {
  background-image: url("./images/area-stacked-icon-landscape.png");
}

.pentaho-visual-models-bar.component-icon-landscape {
  background-image: url("./images/bar-icon-landscape.png");
}

.pentaho-visual-models-bar-horizontal.component-icon-landscape {
  background-image: url("./images/bar-horizontal-icon-landscape.png");
}

.pentaho-visual-models-bar-line.component-icon-landscape {
  background-image: url("./images/bar-line-icon-landscape.png");
}

.pentaho-visual-models-bar-normalized.component-icon-landscape {
  background-image: url("./images/bar-normalized-icon-landscape.png");
}

.pentaho-visual-models-bar-normalized-horizontal.component-icon-landscape {
  background-image: url("./images/bar-normalized-horizontal-icon-landscape.png");
}

.pentaho-visual-models-bar-stacked.component-icon-landscape {
  background-image: url("./images/bar-stacked-icon-landscape.png");
}

.pentaho-visual-models-bar-stacked-horizontal.component-icon-landscape {
  background-image: url("./images/bar-stacked-horizontal-icon-landscape.png");
}

.pentaho-visual-models-heat-grid.component-icon-landscape {
  background-image: url("./images/heat-grid-icon-landscape.png");
}

.pentaho-visual-models-line.component-icon-landscape {
  background-image: url("./images/line-icon-landscape.png");
}

.pentaho-visual-models-metric-point-abstract.component-icon-landscape {
  background-image: url("./images/metric-dot-abstract-icon-landscape.png");
}

.pentaho-visual-models-pie.component-icon-landscape {
  background-image: url("./images/pie-icon-landscape.png");
}

.pentaho-visual-models-sunburst.component-icon-landscape {
  background-image: url("./images/sunburst-icon-landscape.png");
}
