
.pentaho-visual-models-Area-Stacked.component-icon-landscape {
  background-image: url("./images/area-stacked-icon-landscape.png");
}

.pentaho-visual-models-Bar.component-icon-landscape {
  background-image: url("./images/bar-icon-landscape.png");
}

.pentaho-visual-models-Bar-Horizontal.component-icon-landscape {
  background-image: url("./images/bar-horizontal-icon-landscape.png");
}

.pentaho-visual-models-Bar-Line.component-icon-landscape {
  background-image: url("./images/bar-line-icon-landscape.png");
}

.pentaho-visual-models-Bar-Normalized.component-icon-landscape {
  background-image: url("./images/bar-normalized-icon-landscape.png");
}

.pentaho-visual-models-Bar-Normalized-Horizontal.component-icon-landscape {
  background-image: url("./images/bar-normalized-horizontal-icon-landscape.png");
}

.pentaho-visual-models-Bar-Stacked.component-icon-landscape {
  background-image: url("./images/bar-stacked-icon-landscape.png");
}

.pentaho-visual-models-Bar-Stacked-Horizontal.component-icon-landscape {
  background-image: url("./images/bar-stacked-horizontal-icon-landscape.png");
}

.pentaho-visual-models-Heat-Gridrid.component-icon-landscape {
  background-image: url("./images/heat-grid-icon-landscape.png");
}

.pentaho-visual-models-Line.component-icon-landscape {
  background-image: url("./images/line-icon-landscape.png");
}

.pentaho-visual-models-Metric-Point-Abstract.component-icon-landscape {
  background-image: url("./images/metric-point-abstract-icon-landscape.png");
}

.pentaho-visual-models-Pie.component-icon-landscape {
  background-image: url("./images/pie-icon-landscape.png");
}

.pentaho-visual-models-Sunburst.component-icon-landscape {
  background-image: url("./images/sunburst-icon-landscape.png");
}
