
.pentaho-visual-ccc-bar.component-icon-sprite {
  background-image: url("./images/bar-icon-sprite.svg");
}

.pentaho-visual-ccc-bar-horizontal.component-icon-sprite {
  background-image: url("./images/bar-horizontal-icon-sprite.svg");
}

.pentaho-visual-ccc-bar-normalized.component-icon-sprite {
  background-image: url("./images/bar-normalized-icon-sprite.svg");
}

.pentaho-visual-ccc-bar-normalized-horizontal.component-icon-sprite {
  background-image: url("./images/bar-normalized-horizontal-icon-sprite.svg");
}

.pentaho-visual-ccc-bar-stacked.component-icon-sprite {
  background-image: url("./images/bar-stacked-icon-sprite.svg");
}

.pentaho-visual-ccc-bar-stacked-horizontal.component-icon-sprite {
  background-image: url("./images/bar-stacked-horizontal-icon-sprite.svg");
}

/*
.pentaho-visual-ccc-area-stacked.component-icon-sprite {
}

.pentaho-visual-ccc-bar-line.component-icon-sprite {
}

.pentaho-visual-ccc-heat-grid.component-icon-sprite {

}

.pentaho-visual-ccc-line.component-icon-sprite {
}

.pentaho-visual-ccc-metric-dot.component-icon-sprite {
}

.pentaho-visual-ccc-pie.component-icon-sprite {
}

.pentaho-visual-ccc-sunburst.component-icon-sprite {
}
*/