---
---

@import "{{ site.theme }}";

.main-content {
  h1 {
      font-weight: 300;
      font-size: 275%;
      color: #414141;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0;
      border-bottom: 1px solid #CCC;
      clear: both;
    }

  h2 {
      font-size: 225%;
      font-weight: 300;
  }

  h2, h3, h4, h5, h6 {
    color: #414141;
  }
}

a { color: #C00; text-decoration: none; }

.api-list li.ground-layer {
  background-color: #DDDDE1;
}

@import "hitachi";
@import "site-header";
@import "page-header";

@import "intro-page-header";

@import "api-list";
@import "callout";
