<div>
    {{weeklyLabel}}: <br>

    <div class="form-inline">
        <label class="checkbox inline">
            <input type="checkbox" ng-model="monday">
            {{mon}}
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="tuesday">
            {{tue}}
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="wednesday">
            {{wed}}
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="thursday">
            {{thu}}
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="friday">
            {{fri}}
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="saturday">
            {{sat}}
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="sunday">
            {{sun}}
        </label>

    </div>
    <br/><br/>
    {{startLabel}}: <br/>
    <div datetime ></div>
    <br/>
    {{untilLabel}}: <br/>
    <input type="radio" ng-model="endDateRadio" value="none"> {{noEndLabel}}</input><br/>
    <input type="radio" ng-model="endDateRadio" value="dateSelected"> {{endByLabel}}: </input><br/>
    <div datetime ></div>
</div>