<div>
    {{weeklyLabel}}: <br>

    <div class="form-inline row">
        <label ng-repeat="day in data.daysOfWeek" class="checkbox daysOfWeek">
            <input type="checkbox" ng-model="data.selectedDays[day.key]">
            {{day.day|date:'EEEE'}}
            </input>
        </label>
    </div>
    <br/><br/>
    {{startLabel}}: <br/>

    <div datetime selected-date="startDate"></div>
    <br/>
    {{untilLabel}}: <br/>
    <input type="radio" ng-model="endDateRadio" value="none"> {{noEndLabel}}</input><br/>
    <input type="radio" ng-model="endDateRadio" value="dateSelected"> {{endByLabel}}: </input><br/>

    <div datetime selected-date="endDate"></div>

</div>