.tundra input.dijitArrowButtonInner {
  width: 16px;
  margin: 0;
}

.dialog-content .dijitComboBox .dijitArrowButton,
div.dijitDateTextBox.dijitComboBox .dijitArrowButton {
  /* fallback color */
  background: transparent;
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
  /* Firefox */
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;
}
