<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-us" }}">
<head>
  {% include default-html-headers.html %}
</head>

<body class="intro-layout">
  {% include default-site-header.html %}

  <section id="main-content" class="main-content">
    <div class="callout callout-success">
      <p>This documentation targets the API <b>shipped with Pentaho 8.1</b>. You can access the documentation regarding <a href="{{ "/8.0" | relative_url }}">Pentaho 8.0</a> and <a href="{{ "/7.1" | relative_url }}">Pentaho 7.1</a>.</p>
      <p>Also check <a title="What's new and changed in Visualization API beta 3" href="{{ "/platform/whats-new-beta-3" | relative_url }}">What's new and changed in the Pentaho Platform JavaScript APIs beta 3</a>.</p>
    </div>

    <h1 class="page-title">{{ page.title }}</h1>

    {{ content }}
  </section>

  {% include default-footer-learn-more.html %}
  {% include default-footer-community.html %}
</body>
</html>
