
.pentaho-visual-ccc-Bar.component-icon-sprite {
  background-image: url("./images/bar-icon-sprite.svg");
}

.pentaho-visual-models-Bar-Horizontal.component-icon-sprite {
  background-image: url("./images/bar-horizontal-icon-sprite.svg");
}

.pentaho-visual-models-Bar-Normalized.component-icon-sprite {
  background-image: url("./images/bar-normalized-icon-sprite.svg");
}

.pentaho-visual-models-Bar-Normalized-Horizontal.component-icon-sprite {
  background-image: url("./images/bar-normalized-horizontal-icon-sprite.svg");
}

.pentaho-visual-models-Bar-Stacked.component-icon-sprite {
  background-image: url("./images/bar-stacked-icon-sprite.svg");
}

.pentaho-visual-models-Bar-Stacked-Horizontal.component-icon-sprite {
  background-image: url("./images/bar-stacked-horizontal-icon-sprite.svg");
}
