
.pentaho-visual-ccc-bar.component-icon-sprite {
  background-image: url("./images/bar-icon-sprite.svg");
}

.pentaho-visual-models-bar-horizontal.component-icon-sprite {
  background-image: url("./images/bar-horizontal-icon-sprite.svg");
}

.pentaho-visual-models-bar-normalized.component-icon-sprite {
  background-image: url("./images/bar-normalized-icon-sprite.svg");
}

.pentaho-visual-models-bar-normalized-horizontal.component-icon-sprite {
  background-image: url("./images/bar-normalized-horizontal-icon-sprite.svg");
}

.pentaho-visual-models-bar-stacked.component-icon-sprite {
  background-image: url("./images/bar-stacked-icon-sprite.svg");
}

.pentaho-visual-models-bar-stacked-horizontal.component-icon-sprite {
  background-image: url("./images/bar-stacked-horizontal-icon-sprite.svg");
}
